*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Raleway';
}

:root {
  --body_background : white;
  --body_color : black;
  --link_color : navy;
  --border_color:grey;
  transition: all 0.3s ease-in-out;
}

[data-theme="dark"] {
  --body_background : black;
  --body_color : white;
  --link_color : cyan;
}


[data-theme="dark"] .modal-content {
  background-color: var(--body_background);
  color: var(--body_color);
  border: 1px solid var(--border_color);
}


